{% extends '../base.html' %}
{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="board">
    <form id="search_form" action="/board/search" method="get">
        {% csrf_token %}
        <input type="text" id="kwd" name="kwd" value="">
        <input type="submit" value="찾기">
    </form>
    <table class="tbl-ex">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>조회수</th>
            <th>작성일</th>
            <th></th>
        </tr>

        {% for board in boards %}
        {% if board.remove == 0 %}
        <tr>
            <td>{{ page_info.board_num | sub:forloop.counter}}</td>
            <td style="text-align: left; padding-left: {{board.depth | mul:10}}px">
                {% if board.depth != 0 %}
                <img style="height:20px" src="/assets/images/reply.png">
                {% endif %}
                <a href="/board/{{board.id}}?page={{page_info.page}}">{{ board.title }}</a>
            </td>
            <td>{{ board.user.name }}</td>
            <td>{{ board.hit }}</td>
            <td>{{ board.regdate | date:'Y-m-d H:i:s' }}</td>

            {% if request.session.authuser.id == board.user.id %}
            <td><a href="/board/delete/{{board.id}}?page={{page_info.page}}" class="del"><img id="profile" src="/assets/images/recycle.png"></a>
            </td>
            {% else %}
            <td></td>
            {% endif %}

        </tr>
        {% else %}
        <tr>
            <td></td>
            <td>해당 게시글은 삭제되었습니다.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endif %}
        {% endfor %}

    </table>

    <!-- pager 추가 -->
    <div class="pager">
        <ul>
            {% if page_info.prev_page > 0 %}
            <li><a href="/board?page={{page_info.prev_page}}" >◀</a></li>
            {% else %}
             <li>◀</li>
            {% endif %}

            {% for page in page_info.page_range %}
            {% if page_info.page == page %}
            <li class="selected">
            {% else %}
            <li>
            {% endif %}
                <a href="/board?page={{ page }}">{{ page }}</a>
            </li>
            {% endfor %}

            {% if page_info.next_page <= page_info.total_page_count %}
            <li><a href="/board?page={{page_info.next_page}}" >▶</a></li>
            {% else %}
             <li>▶</li>
            {% endif %}

        </ul>
    </div>
    <!-- pager 추가 -->

    <div class="bottom">
        {% if request.session.authuser is not None %}
        <a href="/board/writeform" id="new-book">글쓰기</a>
        {% else %}
        글을 쓰려면 로그인을 해주세요.
        {% endif %}
    </div>
</div>
{% endblock %}